<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Number of pages:</strong>
  <%= @book.number_of_pages %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @book.detail %>
</p>

<p>
  <strong>Image: </strong>
  <%= image_tag @book.image %>
</p>

<h2><b>Review Book</b></h2>
<%= form_for BookReview.new  do |f|%>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :book_id, value: @book.id %>
  <%= f.text_area :review %><br>
  <%= f.submit "Submit" %>
<% end %>

<h2>Review List</h2>
<ul>
  <% @book.book_review.each do |book_review|%>
   <li><%= book_review.review %>
     (<i><%= book_review.user_id %></i>)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
